/* CSS styles */

body {background: linear-gradient(#004400,#440000,#000044,#442200,#FFF,#000)}
h1 {
font-family: Impact, sans-serif;
color: #CE5937;
}
div {margin-bottom:50px}
.perso a {background: linear-gradient(#000000,#00BB00);
border-radius:20px
}
.perso a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

.Sites a {background: linear-gradient(#000000,#DD0000);
border-radius:20px
}
.Sites a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

.Docu a {background: linear-gradient(#000000,#0066DD);
border-radius:20px
}
.Docu a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

.Autre a {background: linear-gradient(#000000,#DD6600);
border-radius:20px
}
.Autre a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

a {padding:18px 50px;
  text-decoration: none;
  color: white;

  }


	  
