/* CSS styles */

body {background: linear-gradient(#3399FF,#33FFFF,#33FF99);
     background-attachment: fixed;
      background-size:cover;
     }
h1 {
font-family: Impact, sans-serif;
 font-weight:bold;
  font-size:50px;
  text-align:center;
color: #CE5937;
  filter: drop-shadow(3px 1px 4px #000);
}
div {margin-bottom:50px}
.perso a {background: linear-gradient(#000000,#00BB00,#000000);
border-radius:12px
}
.perso a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 20px}

.Sites a {background: linear-gradient(#000000,#DD0000,#000000);
border-radius:20px
}
.Sites a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

.Docu a {background: linear-gradient(#000000,#0066DD,#000000);
border-radius:20px
}
.Docu a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

.Autre a {background: linear-gradient(#000000,#DD6600,#000000);
border-radius:20px
}
.Autre a:hover {background: linear-gradient(#FFF,#888,#FFF);
  color:black;
  border-radius: 12px}

a {padding:12px 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size:30px

  }


	  
